.nav_bar {
  height: 150px;
  border: 2px solid black;
  border-radius: 50px;
  background-color:#536fcf;
}
.search_bar {
  height: 40px;
  border-radius:10px 0 0 10px;
}
.forecast_logo{
  height:100px;
  width:150px;
  border-radius:30px;
}
.forecast_logo:hover {
      box-shadow:5px 5px 5px white;
}
.btn_size {
  height: 40px;
  border: none;
  background-color: darkorange;
  border-radius: 0 10px 10px 0;
}
.btn_logo {
  height: 30px;
}
.nav_barBody {
  height: auto;
  width: auto;
  border: 2px solid black;
  border-radius: 50px;
  padding: 15px;
  text-align:center;
  flex-wrap:wrap;
}
.location {
  font-family: 'Times New Roman';
  margin: 20px;
  font-weight: bold;
  padding: 20px;
  font-family: 'Times New Roman';
  background-color: #9bf7f7;
  border-radius: 50px;
}
.location_logo{
  height:40px;
  width:40px;
}
.tmp_show {
  height: auto;
  width: auto;
  margin: 20px;
  font-size: 100px;
  font-weight: bold;
  padding: 30px;
  font-family: 'Times New Roman';
  background-color: #9bf7f7;
  box-shadow:3px 3px 3px #536fcf;
  border-radius: 50px;
}
.tmp_type {
  height: auto;
  width: auto;
  margin: 20px;
  font-size: 30px;
  font-weight: bold;
  padding: 30px;
  font-family: 'Times New Roman';
  background-color: #9bf7f7;
  box-shadow:5px 5px 5px #536fcf;
  border-radius: 50px;
}
